/* Common section */

.common-section {
  width: 90%;
  margin: auto;
}

.common-bottom-margin {
  margin-bottom: 120px;
}

.banner-section {
  margin-top: 50px;
  height: 500px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Banner-Image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.text-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.common-styled-font {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
}

.happy-new-year {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.party-celebration {
  width: 60%;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* .off-section {
  width: 50%;
  margin: auto;
} */

.common-in-off-section {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}
.off-65 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.holyday-deals {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.all-categories {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.new-year-img {
  width: 50%;
  height: 50%;
}

.midnight-party {
  height: 500px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Vectorrr.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.midnight-party {
  display: flex;
  justify-content: space-around;
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  align-items: center;
}

.midnight-party-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-midnignt-party {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  text-align: left;
}

.welcome-midnignt-party-lorem {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-align: left;
}

.join-now {
  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.midnight-party-image {
  height: 80%;
}

.section-4 {
  height: 600px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
}

.section-4-h1-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.section-4-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.section-5 {
  height: 400px;
}

.section-5-txt-img-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-5-text {
  width: 45%;
}

.section-5-img-div {
  width: 25%;
  aspect-ratio: 1/1;
  border: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.section-5-img {
  width: 80%;
  height: 80%;
}

.section-5-year {
  width: 20%;
}

.section-5-p-tag1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-5-h-tag {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.section-5-p-tag2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.section-5-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
